#main-documentos{
    width: 1006px;
    height: auto;
}

.name_info_down{
    cursor: pointer;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #0F3041;
    width: 219px;
    margin-left:8px;
}

.file_tarea{
    cursor: pointer;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #0F3041;
    width: 219px;
}

.name_info_down1{
    cursor: pointer;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #0F3041;
    width: 219px;
}

#verFiles{
    position: relative;
    padding-bottom: 56.25%;
    height: 622;
    margin-left: 42px;
width: 447;
   
}
.styleIframe{
   width:447px;
   border-style: none;
    height:622px;
    text-decoration: solid;

  
   
}

.styles_principal{
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0px;
}

#container_principal{
padding: 19px 10px 12px 22px;

}



#date_documentos{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0px;
    color: rgba(15, 48, 65, 0.4);
    
}

#column_izquierda_documentos{
    margin:0px 54px 0px 52px;
    margin-bottom: 22px;
    
}


#container_doc_princial{
    border-radius: 5px;
 
}

#container_tar_princial{
    border-radius: 5px;
 
}

#see{
    margin: 0px 17px 0px 42px;
    padding: 5px 5px 5px 0px;
    border-left: 2px solid #EFF2F9;
}

#verFiles{
    width: 447px;
    height: 622px;
}

#title_principal{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    
    color: #969CBA;
    margin-bottom: 0px;
}

#style_generalContainer_principal{
    width: 377px;
height: 110px;
left: 128px;
top: 510px;

background: #F9FBFC;
box-shadow: 0px 1px 3px 1px rgba(123, 137, 178, 0.26);
border-radius: 5px;
}

#total_head_documentos{
    width: 164px;
    height: 28px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
     letter-spacing: 0.15px;
     margin-bottom: 0px;

    /* Primary Blue */

    color: #0F3041;
}

#total_number_documentos{
    width: 59;
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 4px;
      /* Blue */

    color: #466EFE;
}

#container_total_general{
    width: 253px;
    height: 49px;
    /* background: #F9FBFC;; */
    box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 17px;
   
}

#container_total_mainGeneral{
    margin-top: 22px; margin-bottom: 28px;
  
}

#styles_container_buscador{
    background: rgba(150, 156, 186, 0.12);
    width: 1005px;
    height: 55px;
}
#search_doc{
    /* Gray 3 */
border: none;
background:none;

width: 159.92px;
}

#style_buscar{
    border-bottom: 0.5px solid #828282;
    width: 224.97px;
    margin-right: 17px;
}

#container_doc{
       width: 1006px;
height: 862px;
margin-top: 20px;
background: #FFFFFF;
border-radius: 6px 0px 0px 13px;
}

#style_a_doc{
    color: #0d6efd;
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;

    /* Primary Blue */

    color: #0F3041;
}

.show_number_tarea{
    width: 63px;
    height: 20px;
      
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
       margin-bottom:0px;
    color: #0E3141;
}

/*circle progress*/
  .mt-100 {
    margin-top: 200px
}

.progressCircle1 {
    width: 48px;
    height: 48px !important;
    float: left;
    line-height: 150px;
    background: #FFFFFF;
 
    box-shadow: none;
    position: relative
}

.progressCircle1:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #E2E3E4;;
    position: absolute;
    top: 0;
    left: 0
}

.progressCircle1>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1
}

.progressCircle1 .progressCircle1-left {
    left: 0
}

.progressCircle1 .progressCircle1-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 0
}

.progressCircle1 .progressCircle1-left .progressCircle1-bar {
    left: 100%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left
}

.progressCircle1 .progressCircle1-right {
    right: 0
}

.progressCircle1 .progressCircle1-right .progressCircle1-bar {
    left: -100%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  animation: loading-1 1.2s linear forwards 1.8s;

  
}

.progressCircle1 .progressCircle1-value {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background:  #FFFFFF;
    font-size: 14px;
    color: black;
    line-height: 50px;
    text-align: center;
    position:absolute;
    left: 5%
}


.progressCircle1.red .progressCircle1-bar {
    border-color:  #FF3355;
}

.progressCircle1.red .progressCircle1-left .progressCircle1-bar {
    animation: loading-2 1.5s linear forwards 1.8s
}

/*mostar tareas*/

#mostrar_tareas{
    cursor: pointer;
}

.ocultarDoc{
    visibility:hidden
}

.name_info_down1{
    cursor: pointer;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #0F3041;
    width: 219px;
}

#container_principal_tarea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom:2px solid #EFF2F9; */
    height:59px;
    width: 100%;
    padding-left: 22px;
    padding-right: 10px;
}



#style_a_docs{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    /* Primary Blue */

    color: #0F3041;
    text-decoration: none;
}

#doc_select{
    height: 59px;
}

#here_tareas {
    cursor: pointer;
}

#arrows{
    margin-left: 90px;
  
}

#arrows_doc{
    margin-left: 90px;
  
}