
.modal-dialog .fromHomework {
  height: 624px;
  width: 679px;
  
}
.modal-dialog .header-fromHomework {
  padding: 22px 30px 0;
  border-bottom: none;
}

.modal-dialog .title-fromHomework {
  color: var(--black);
  font-size: 22px;
  font-weight: 200;
  text-align: center;
  padding: 11px 0 0 255px;
}

.modal-dialog .body-fromHomework {
  padding: 0;
}

.modal-dialog .form-homework {
  margin: 57px 83px 0;
}

.modal-dialog .row-fromHomework {
  display: flex;
  margin: 0 0 25px;
  justify-content: space-between;
}

.modal-dialog .label-fromHomework {
  width: auto;
  padding: 0;
  margin: 0;
  align-self: center;
  font-size: 14px;
  font-weight: 300;
  color: var(--txtForm);
}

.modal-dialog .containerInput-fromHomework {
  width: 299px;
  padding: 0;
  margin: 0;
}

.modal-dialog .input-fromHomework {
  height: 39px;
  padding: 0 0 0 10px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 0 0px 25px white inset !important;
}

/**** Efecto email ******/
.modal-dialog .div-email {
  /* border: 1px solid blue; */
  border: 1px solid #ced4da;
  padding: 0;
  display: flex;
  align-items: center;
}

.modal-dialog .div-email .span-emailX {
  /* border: 1px solid yellow; */
  height: 24px;
   width: auto;
  /* width: 203px; */
  display: flex;
  align-items: center;
  margin-left: 15px;
  background: var(--borderInputForm);
  border-radius: 10px;
}

.span-emailX .input-email {
  border: 1px solid red;
  width: auto;
  /* width: 250px; */
  padding: 0 0 0 8px;
  border: none;
  background: var(--borderInputForm);
  border-radius: 10px;
  /* font-size: 13px; */
  color: var(--primary-blue);
  box-shadow: 0 0 0px 25px white inset !important;
}

.span-emailX .input-email:focus {
  box-shadow: 0 0 0px 25px white inset !important;
}

.span-emailX span {
  /* border: 1px solid blue; */
  font-weight: 500;
  background: var(--borderInputForm);
  padding: 0 15px;
  border-radius: 10px;
}

.modal-dialog .input-email::placeholder {
  color: var(--txtPlaceholder);
}
/****/



.modal-dialog .input-fromHomework::placeholder {
  color: var(--txtPlaceholder);
}

.modal-dialog .date-fromHomework {
  width: 175px;
  color: var(--txtPlaceholder);
}

.modal-dialog .labelTextarea-fromHomework {
  margin-top: -89px;
}

.modal-dialog .containerTexarea-fromHomework {
  height: 134px;
  width: 299px;
  position: relative;
}

.modal-dialog .containerTexarea-fromHomework img {
  position: absolute;
  margin-top: 14px;
  margin-left: 120px;
  padding: 0;
}

.modal-dialog .textarea-fromHomework {
  height: 120px;
  width: 299px;
  padding: 10px 40px 25px 15px;
  font-size: 15px;
  line-height: 16px;
  color: var(--primary-blue);
  resize: none;
  overflow-y: hidden;
  border-radius: 10px;
  box-shadow: 0 0 0px 25px white inset !important;
}

.modal-dialog .textarea-fromHomework::placeholder {
  color: var(--txtPlaceholder);
}

.modal-dialog .textarea-fromHomework:disabled {
  background: var(--white);
}

.modal-dialog .containerTexarea-fromHomework p {
  font-size: 11px;
  line-height: 12px;
  margin: 0;
  position: absolute;
  margin-top: -20px;
  margin-left: 150px;
  color: var(--txtPlaceholder);

}

.modal-dialog .footer-fromHomework {
  padding: 0;
  border: none;
  justify-content: center;
  margin-bottom: 38px;

}

.modal-dialog .footer-fromHomework .btnCreate-fromHomework {
  height: 40px;
  width: 107px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  background: var(--primary-red);
  border: 2px solid var(--primary-red);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: var(--white);
}

.btnDisabled {
  opacity: 0.3;
  cursor: none;
}


/****** modal - Ingresar mensaje ******/

#modalMessage {
  background-color: rgba(0,0,0,0.4);
}

#modalMessage  .modalDialog-message {
  max-width: 678px;
}

.modal-dialog .modalMessage {
  margin-top: -100px;
  padding: 0px 20px 20px 40px;
}


.modal-dialog .header-modalMessage {
  padding: 0;
  border: none;
}

.modal-dialog .header-modalMessage h4 {
  margin-top: 30px;
}

.modal-dialog .header-modalMessage button {
  margin-top: -30px;
}

.modal-dialog .header-modalMessage img {
  margin-top: 20px;
}

.modal-dialog .body-modalMessage {
  padding: 0;
}

.body-modalMessage .containerTexarea-modalMessage {
  margin: 24px 20px 0px 0;

}

.body-modalMessage .containerTexarea-modalMessage p {
  font-size: 12px;
  margin: 0;
  text-align: end;
  color: var(--txtPlaceholder);
}


.body-modalMessage .textarea-modalMessage {
  height: 270px;
  font-size: 15px;
  line-height: 16px;
  color: var(--primary-blue);
  resize: none;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 0px 25px white inset !important;
}


.modal-dialog .footer-modalMessage {
  padding: 0;
  border: none;
  justify-content: center;
}

.modal-dialog .footer-modalMessage button {
  height: 40px;
  width: 107px;
  border-radius: 10px;
  color: var(--white);
  background: var(--primary-red);
  border: 2px solid var(--primary-red);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}


/****** MODAL - OK registro correcto  ******/
.modal-dialog .modalOk {
  height: 348px;
  width: 488px;
  padding: 22px, 30px, 47px, 61px;
}

.modal-dialog .header-modalOk {
  justify-content: flex-end; 
  padding-bottom: 0; 
  border-bottom: none;
}

.modal-dialog .body-modalOk {
  justify-content: center; 
  padding: 0;
}

.modal-dialog .container-modalOk {
  margin: 17px 53px 30px 61px;
  text-align: center;
}

.modal-dialog .container-modalOk p {
  margin: 30px 0 0;
  font-size: 21px;
  font-weight: 200;
  line-height: 24px;
  color: var(--black);
}

.modal-dialog .footer-modalOk {
  padding: 0;
  margin-bottom: 40px;
  justify-content: center;
  border-top: none;
}

.modal-dialog .footer-modalOk button {
  height: 40px;
  width: 113px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  color: var(--white);
  background: var(--primary-red);
  border: 2px solid var(--primary-red);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.zIndexTop-modal {
  z-index: 1060;
}

.zIndexDown-modal {
  z-index: 0 !important;
}


/*******  Tabla de tareas  *******/
.createTask {
  /* border: 1px solid red; */
  width: 100%;
  /* width: 777px; */
  /* padding: 16px 37px 0 22px; */
  flex-direction: column;
  font-family: Raleway;
}

.createTask .container-btnCreateTask {
  /* border: 1px solid  pink; */
  height: 35px;
  padding-bottom: 8px;
  flex-direction: row;
  justify-content: flex-end;
  /* align-items: center; */
}

.createTask .container-btnCreateTask p {
  /* border: 1px solid blue; */
  margin-bottom: 0;
  font-size: 12px;
  /* line-height: 15px; */
  font-weight: 700;
  color: var(--primary-red);
}

.createTask .container-btnCreateTask img {
  /* border: 1px solid yellowgreen; */   
  margin: 0 5px 0 10px;
}


.table-createTask .tdTable-createTask .chek-label .td-name-task {
  width: 250px;
  display: flex;
  /* text-align: initial; */
  justify-content: left;
  align-items: flex-start;
  justify-items: flex-start;

}

.table-createTask .tdTable-createTask .chek-label .label-task {
  /* margin-left: 30px; */
  margin-left:0px;
  /* color: red; */
}

.table-createTask .tdTable-createTask .chek-label input[type="checkbox"] {
  display: none;
}

.table-createTask .tdTable-createTask .chek-label label {
  padding-left: 2em;
  position: relative;
}

.table-createTask .tdTable-createTask .chek-label label::before {
  content: '';
  border: 1px solid red;
  height: 0.9em;
  width: 0.9em;
  position: absolute;
  left: 0px;
}

.table-createTask .tdTable-createTask .chek-label input[type="checkbox"]:checked + label::before {
  border-color: var(--txtgreen);
  background: var(--txtgreen);
  border-radius: 50%;
}

.table-createTask .tdTable-createTask .chek-label input[type="checkbox"]:checked + label{
  text-decoration: line-through;
}

.txt-tach {
  text-decoration: line-through;
}

.createTask .tdTable-createTask .tStatusPendiente::before {
  content: "Pendiente";
}

.createTask .tdTable-createTask .tStatusFinalizado::after {
  content: "Finalizado";
}

.txt-green {
  color: var(--txtgreen);
}

.table-createTask .thTable-createTask {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: var(--primary-blue);
  border-bottom: 2px solid var(--line-table);
  text-align: center;
  margin-bottom: 20px;
}

.table-createTask .selected {
  background: red;
}

.table-createTask tr{
  border-style: none;
  border: var(--white);
}

.createTask .tdTable-createTask {
  font-size: 12px;
  line-height: 20px;
  color: var(--primary-blue);
  text-align: center;
}

.createTask .tdTable-createTask .td-name-task{
  text-align: left;
}

.tdTable-createTask .txt-green {
  color: var(--txtgreen)
}

.tdTable-createTask .txt-normal {
  color: var(--primary-blue)
}



.tdTable-createTask .docCount {
  margin-right: -10px;
}

.tdTable-createTask .img-clip {
  margin-right: -30;
}

.tdTable-createTask .tdCircle-blue .img-circle-blue {
  /* position: relative; */
  height: 32px;
  width: 31px;
}

.tdTable-createTask .tdCircle-blue span {
  /* position: absolute; */
  margin-top: 7px;
  margin-left: -24px;
  color: var(--white);
}


.createTask .tdTable-createTask label {
  margin-left: 24px;
  font-weight: normal;
  color: var(--primary-blue);
}


