.wrapper {
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows: 64px 1fr 81px;
  background: var(--background-primary);
}

.disabled {
  display: none;
 
}

/******** HEADER (inicio) ********/
.header {
  grid-row: 1/2;
  grid-column: 1/3;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 257px 1fr 325px;
}

.header-left {
  align-items: center;
  justify-content: flex-end;
}

.header-left .logo {
  height: 26px;
  width: 77.19px;
  margin-right: 28px;
}

.vertical-line {
  background: var(--line-header);
  height: 32px;
  width: 1px;
}

.header-center {
  justify-content: space-between;
}

.header-center .tag-case {
  border-bottom: 3px solid var(--secondary-red);
  width: 106px;
  height: 100%;
  align-items: center;
  margin-left: 193px;
}

.header-center p {
  margin: 0;
  font-weight: bold;
}

.header-center .search-notification {
  align-items: center;
}

.header-center img {
  margin-right: 14px;
}

.header-right {
  align-items: center;
}

.header-right .avatar{
  height: 32px;
  width: 32px;
  margin-left: 26px;
}

.header-right p {
  margin: 0;
  margin: 0 8px;
  font-size: 12px;
}

.header-right img {
  height: 28px;
  width: 28px;
}
/******** HEADER (termino) ********/


/******** MAIN (inicio) ********/
.mainCase {
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 10px 29px 38px 72px;
}

.mainCase .btn-back {
  align-items: center;
}

.btn-back p {
  margin: 0;
  font-size: 12px;
  color: var(--primary-blue);
  opacity: 0.42;
}

.mainCase .title-btnActions {
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.title-btnActions h5 {
  margin: 0;
  font-size: 25px;
}

.title-btnActions .btn-actions {
  height: 40px;
  width: 146px;
  padding: 8px 18px 10px;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-red);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: var(--white);
}

.btn-actions .moreIcon {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 6px;
}

.btn-actions p {
  margin: 0 2px 0 0;
}

.mainCase .tags-case {
  height: 33px;
  margin-top: 32px;
  border-bottom: 1px solid var(--line-main);
}

.tags-case ul{
  display: flex;
  padding: 0;
}

.tags-case li {
  display: inline-block;
  height: 33px;
  width: 130px;
  color: var(--primary-blue);
  text-align: center;
}

.tags-case li:first-child {
  font-weight: 600;
  border-bottom: 3px solid var(--primary-blue);
}

.tags-case a {
  color: inherit;
  text-decoration: none;
}

.detailMain {
  margin-top: 18px;
}

.title-description h6 {
  margin-top: 10px;
}

.detailMain .detail-description {
  height: 454px;
  width: 300px;
  padding: 20px;
  background: var(--white);
}

.detail-description .title-description {
  justify-content: space-between;
}

.title-description .btnEditComment{
  cursor: pointer;
}

.title-description .btnSaveComment {
  cursor: pointer;
}

.detail-description .ptxt-comment{
  height: 78px;
  width: 258px;
  margin: 5px 0 18px;
  font-size: 12px;
  line-height: 15px;
  color: var(--primary-blue);
}

.detail-description .hide {
  display: none;
}

.detail-description .textarea-container {
  flex-direction: column;
  height: 78px;
  width: 259px;
  margin: 5px 0 18px;
  background: var(--white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1px solid var(--line-header);
}

.textarea-container  .txt-comment {
  height: 56px;
  width: 256px;
  padding: 4px 7px 0 9px;
  font-size: 12px;
  line-height: 15px;
  color: var(--primary-blue);
  background: var(--white);
  border: none;
  outline: none;
  resize: none;
}

.textarea-container p {
  margin-bottom: 10px;
  text-align: end;
  font-size: 10px;
  font-weight: bold;
  color: rgba(15, 48, 65, 0.4);
}

.detail-description .txt-comment:focus {
  color: var(--primary-blue);
}

.detail-description .txt-comment:active {
  border: none;
}

.detail-description .txt-comment:focus {
  border: none;
}

.detail-description p {
  margin: 2px 0 18px 0;
}

.detail-description .cardsMaterias {
  height: 135px;
  overflow-y: auto;
}

.detail-description .cardsMaterias p {
  margin: 0;
  font-size: 14px;
}

.cardsMaterias .hide {
  display: none;
}

.detailMain .detail-process-performance{
  /* border: 1px solid red; */
  width:120%;
  height:594px;
}

.card-process{
  /* border: 1px solid red; */
  width: 686px;
 
}

/* #inProcess{
  height: 143px;
} */
#title_inProcess{

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  color: #969CBA;
  margin: 22px 45px 20px 22px;
}

.title_tipoResolution{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #0F3041;
  width: 149px;
  margin-left: 52.5px;
}

#container_adicional_information{
  width: 120;
  border-left:1px solid #E1E6F0;
  padding:  5px;
  height: auto;
}

.text_tipoResolution{
  font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: center;
color: #969CBA;
}
.text_Resolution{
  font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
color: #0F3041;
height: auto;
margin-bottom: 0px;
}
.img_tipoResolution{
  margin-right: 8px;
  margin-bottom: 15px;
}
.style_icon_right{
  margin-left:20px;
  width: auto;
  height: 12px;
  margin-top: 8px;
}
/******** MAIN (termino) ********/


/******** SIDEBAR (inicio) ********/
.sidebarCase {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 30px 28px;
  background: var(--white);
}

.sidebarCase .div-process {
  border: 1px solid var(--border-blue);
  height: 124px;
  width: 264px;
  padding: 0px 10px 10px;
  border-radius: 5px;
}

.div-process .checkIcon {
  margin-top: 10px;
  align-self: flex-start;
}

.div-process .detail-process {
  margin: 0 7px 0;
}

.detail-process .detail-title {
  margin: 0;
  padding-top: 5px;
  font-size: 14px;
}

.detail-process span {
  color: var(--primary-red);
}

.detail-process .detail-txt {
  margin-top: 8px;
  font-size: 11px;
  line-height: 15px;
}

.div-process .copyIcon {
  align-self: flex-end;
}

.horizontalLine-sidebar {
  border: 1px solid var(--line-sidebar);
  opacity: .5;
}

.div-activities {
  height: 250px;
  margin-top: 4px;
}

.div-activities .title {
  justify-content: space-between;
  margin-bottom: 19px;
}

.title .title-right {
  font-size: 11px;
  color: var(--border-blue);
}

.div-activities .activity-details {
  margin-bottom: 8px;
  height: 40px;
  font-size: 11px;
  line-height: 20px;
}

.activity-details p {
  font-size: 14px;
}

/******** SIDEBAR (termino) ********/


/******** FOOTER (inicio) ********/
.footer {
  grid-row: 3/4;
  grid-column: 1/3;
  bottom: 0;
  padding: 0 152px 0px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--line-header);
}
.footer p {
  font-size: 12px;
  color : var(--grayLight);
}

.footer span {
  color: var(--primary-red);
}

.footer img {
  height: 27px;
  width: 18px;
}
/******** FOOTER (termino) ********/