
/* #flex_screen1{
    display: flex;
    flex-direction: row;
    padding: 0px 200px 200px 200px;
    background: #FF3355;
} */

.ocultar{
    display: none;
}

.form1{
    width: 628px;
    height: 502px;
    left: 610px;
    /* top: 226px; */
    background: #FFFFFF;
    border-radius: 8px;
    /* margin-top: 226px; */

}

.img_logoLogin{
    margin-left: 120px;
    margin-right:300px;
    height: 50%;
    margin-top:400px;
    object-fit: cover;
}

.img_group{
    width: 18px;
    height: 27.2px;
    margin-top: 78px;
    margin-left: 80px;
    
}

.flex_newAccount{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin: 26.86px 0px 0px 80px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
}

#fname {
    width: 284px;
    height: 45px;
    margin-left: 83px;
    margin-right: 261px;
}

#password{
    width: 284px;
    height: 45px;
    margin-left: 83px;
    margin-right: 261px;
}

label{
    margin-left:98px ;
}

.bi-eye{
   color: #FF3355;
}

#btnToggle{
    background: none;
    border: none;
    color: #337ab7;
    font-weight: 600;
    position: absolute;
    right: 45%;
    top: 35%;
    z-index: 9;
}


#mensajePass{
  margin-bottom: 41.9px;
  margin-left: 82px;
  font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    /* Secondary Green */

    color: #31CC53;
  
}

#mensajeEmail{
    margin-bottom: 38.35px;
    margin-left: 82px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    /* Secondary Green */

    color: #31CC53;
  }

#getIn{
    flex-direction: column;
    align-items: flex-start;
    padding: 11px 16px;
    width: 87px;
    height: 40px;
    background: #FF3355;
    margin-left: 83px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

/*Input SignIn*/
#container_email{
    position: relative;
        margin-top: 30px;
  }

  #container_email label {
    position: absolute;
    top: -10px;
    padding: 2px;
    z-index: 1;
  }
  #container_email label:after {
    content: " ";
    background-color: #fff;
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;}
