.container-register {
  /* border: 1px solid red; */
  /* height: 100vh; */
  background: var(--background-light);
  justify-content: center;
  flex-direction: column;
}

.container-register  .div-logo-form {
  /* border: 1px solid yellow; */
  
  /* align-items: center; */
  margin: 104px 253px 0px 152px;
}

/* .container-register .formRegister { */
  /* border: 1px solid pink; */
  /* margin-bottom: 106px; */
/* } */

/* .container-register  .logoRegister {
  border: 1px solid blue;
  height: 67.51px;
  width: 200px;
} */

/* .container-register  .form { */
  /* margin-left: 120px; */
  /* border: 1px solid yellow; */
  /* height: 624px;
  width: 760px;
  align-self: center; */
/* } */

.a-case-type {
  font-weight: bold;
  border-bottom: 2px solid;
}

.container-register .footer {
  height: 78px;
  bottom: 0;
  padding: 0 152px 0px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--line-header);
}

.container-register .footer p {
  font-size: 12px;
  color : var(--grayLight);
}

.container-register .footer span {
  color: var(--primary-red);
}

.container-register .footer img {
  height: 27px;
  width: 18px;
}

#btn_border_showAlonso{
    background-color: #FFFFFF;
    padding: 1px;
    border:2px solid #466EFE; ;
}

#showAlonso{
    background-color: #466EFE;
  
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    padding: 30%; 
}


#btn_border_showAlonso{
    background-color: #FFFFFF;
    padding: 1px;
    border:2px solid #466EFE; ;
}
     
 #pencil_example{
    background-image: url(../img/Vector@2x.png);
    /* background-size:  10.5px 10.5px; */
    width: 18px;
    height: 18px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(192, 192, 192, 0);
   
}

#trash_example {
    background-image: url(../img/trash-vector.png);
    /* background-size:  10.5px 10.5px; */
    width: 18px;
    height: 18px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(192, 192, 192, 0);

}

#show_icon_example {
   margin: auto;
    
}




.container-login .borde-amarillo {
  border: 1px solid yellow;
}

.container-login .borde-blanco {
  border: 1px solid white;
}

.container-login .borde-azul {
  border: 1pz solid blue ;
}