
/*registro*/
#flex_screen2{
    background-color: #F0F3F5;
    display: flex;
    flex-direction: column;
   
}
 /*logo SAMI*/
#img_logos{
    margin-top: 104px;
    margin-left: 153px;
    margin-right: 115px;
    height: 1%;
    width: 50%;
}

#form2{
    width: 760px;
    height: 624px;
    margin-top: 47px;
    margin-left: 115px;
    padding-right: 100px !important;
    /* margin-right: 253px; */
    /* margin-top: 151px; */
    margin-bottom:106px;
    /* White */
    background: #FFFFFF;
    /* box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08);
    border-radius: 10px; */
    
    box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
    border-radius: 10px;

}

.registrar{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #0F3041;
    padding: 50px 0 12px 50px;
}

.message-completedRegistration {
    width: 500px;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #7D7577;
    margin: 24px 221.43px 151px 50px;
}

#completar{
    margin-left: 59px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.btn_color{
/* #btn_color{ */
    width: 24px;
    height: 24px;
    left: 486px;
    top: 303px;
    background: #CAD4E8;
    border-radius: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    border-color: #CAD4E8;
    cursor: none !important;
}
.btn_color1{
/* #btn_color1{ */
    width: 24px;
    height: 24px;
    left: 486px;
    top: 303px;
    background: #31CC53;;
    border-radius: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    border-color: #CAD4E8;
    cursor: none !important;
}

#btn_New{
    /* border: 1px solid red; */
    /* background-image: url("../img/svg/add-new-circle.svg"); */
    /* background-size:  90px 90px; */
    /* width: 80px;
    height: 78px; */
    /* width: 110px;
    height: 110px; */
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(192, 192, 192, 0);
    margin-top: 9px;
    margin-left: 5px;
    margin-right: 38px;
    outline: none;
    box-shadow: none !important;
}

/* #btn_New:focus {
    outline: none;
} */


.ocultar{
    display: none;
}



#item{
    margin: 10px;
}

#email{
    width: 302px;
    height: 45px;
    margin-left: 60px; 

}

.hidde{
    display: none;
}

.container_user1{
    display: flex;
    flex-direction: row;
}

#fname1{
    width: 302px;
    height: 45px;
    margin-left: 60px;
   
}

#fname2{
    width: 302px;
    height: 45px;
    margin-left: 60px;
}

#password1{
    width: 302px;
    height: 45px;
    margin-left: 60px; 
}

.toggle{
    background: none;
    border: none;
    color: #337ab7;
    font-weight: 600;
    position: relative;
    margin: 0px 10px 60.22px 290.49px;
}

 #btn_next {
    float: right;
    padding: 11px 16px;
    width: 109px;
    height: 40px;
    background: #FF3355;
    /* margin-right: 66px; */
    /* margin-right: -90px; */
    border-radius: 8px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

#btn_nextWelcome {
    float: right;
    padding: 11px 16px;
    width: 109px;
    height: 40px;
    background: #FF3355;
    /* margin-right: 66px; */
    /* margin-right: -90px; */
    border-radius: 8px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

#btn_behind{
    float: left;
    padding: 11px 16px;
    width: 87px;
    height: 40px;
    background: #FF3355;
    /* margin-left: 66px; */
    border-radius: 8px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}



#ajuste{
margin-left: 60px;
  
}

#show_icon{
   margin: auto;
    
}

/*eyes*/
#btn_password{
float: right;
 background: none;
 border: none;
 color: #337ab7;
 font-weight: 600;
 position: absolute;
 right: 5%;
 top: 35%;
 z-index: 9;
}



/*welcome*/

/* #form3{
    width: 760px;
    height: 624px;
    margin-right: 253px;
    margin-top: 151px;
    margin-bottom: 106px; */
    /* White */
    /* background: #FFFFFF;
    box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
    border-radius: 10px;
    
    } */

#form3 {
    width: 760px;
    height: 513px;
    margin-left: 124px;
    background: #FFFFFF;
    box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
    border-radius: 10px;
    margin-bottom: 217px;
}


#banner{
    width: 760px;
    height: 163px;
}    

#showMessage{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    width: 488.57px;
    height: 80px;
    margin: 24px 21.43px 151px 50px;
    /* Secondary/140 */
    color: #7D7577;
    mix-blend-mode: normal;
}

#showNamei{
    background-color: #466EFE;
  
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
 
    padding: 30%; 
     
}

#btn_border_showNamei{
    
    background-color: #FFFFFF;
    padding: 1px;
    border:2px solid #466EFE; ;
}

#borde{
    background-color: #466EFE;
    border-radius: 50%;
    margin: 2px;
}

 #pencil{
    background-image: url(../img/Vector@2x.png);
    /* background-size:  10.5px 10.5px; */
    width: 18px;
    height: 18px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(192, 192, 192, 0);
   
}

#trash{
    background-image: url(../img/trash-vector.png);
    /* background-size:  10.5px 10.5px; */
    width: 18px;
    height: 18px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(192, 192, 192, 0);

}

/*boton agregar margen*/
#add{
margin: 0px 31px 30px 360px;
}

/*añadir inspecció*/
#añadir_Inspección{
float: right;
/* margin-right: 78px; */
margin: 0 78px 53px 0;
border-radius: 10px;
background: #FF3355;
border-color: #FF3355;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
/* margin-bottom: 58px;
margin-right: 70px;
margin-top: 100px; */

};

