<!-- STATUS copy (inicio)-->
<div class="status mb-5">
    <div class="status d-flex flex-column">
        <h6 class="title_card">Status</h6>

        <div class="line-content">
            <div class="line">
                <div class="d-flex flex-row" style="height:25px;">
                    <div>
                        <div class="contents" style="background: #466EFE;">
                            <h1 style=" position: absolute; font-size: 14px;font-weight: bold;">
                                1
                            </h1>
                            <p style="font-size: 12px;color: #FFFFFF;">
                                Investigación
                            </p>
                        </div>
                        <p style="font-size: 11px;color:#31CC53; margin-left:30px;">
                            0 actuaciones cerradas
                        </p>
                    </div>
                    <div style="margin-left:13px;">
                        <img src="./img/check.png" alt="" />
                    </div>
                </div>
                <div class="lines"></div>
                <!-- -->
                <div class="d-flex flex-row justify-content-center" style="height:25px;">
                    <div>
                        <div class="contents">
                            <h1 class="numbers">2</h1>
                            <p class="style_text_status">Instrucción</p>
                        </div>
                        <p style="font-size: 11px;color:#31CC53; margin-left:30px;">
                            0 actuaciones cerradas
                        </p>
                    </div>

                    <div style="margin-left:13px;" class="ocultar_img">
                        <img src="./img/check.png" alt="" />
                    </div>
                </div>
                <div class="lines"></div>
                <div class="d-flex flex-row justify-content-center" style="height:25px;">
                    <div>
                        <div class="contents">
                            <h1 class="numbers">3</h1>
                            <p class="style_text_status">Sancionadora</p>
                        </div>
                        <p style="font-size: 11px;color:#31CC53;margin-left:30px;">
                            0 actuaciones cerradas
                        </p>
                    </div>

                    <div style="margin-left:13px;" class="ocultar_img">
                        <img src="./img/check.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>