<div class="ocultar" id="tareas_ver">
    <div class="d-flex flex-row">

        <div class="d-flex flex-column">

            <!--principal actuacion-->


            <div id="column_izquierda_documentos">
                <div>
                    <p id="title_principal">PRINCIPAL</p>
                    <div id="style_generalContainer_principal">
                        <div class="d-flex flex-row justify-content-between" id="container_principal">

                            <div style="width: 231px;height: 21px;">
                                <p class="styles_principal"><strong>Principal:</strong></p>
                                <p class="styles_principal">${localStorage.getItem("tipo")}</p>
                            </div>

                            <div style="width: 61px;height: 21px;">
                                <p class="styles_principal"><strong>Vence:</strong></p>
                                <p id="date_documentos">${localStorage.getItem(
                                    "fechaActual"
                                    )}</p>
                            </div>

                        </div>
                        <div class='doc_select'>
                            <div class="d-flex flex-row align-items-center " id="container_doc_princial"
                                style="height: 59px;">
                                <p style="margin-left:24px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
          margin-right:12px;

            
            /* Primary Blue */
            
            color: #0F3041;">01.</p>
                                <label for="file-upload" id="subir" style="margin-left:0px;">
                                    <img src="./img/svg/clicdoc.svg" alt="" />
                                </label>
                                <div class="d-flex flex-column ">
                                    <div id="name_info1" style="width: 183.58px;height: 15px;margin-top:15px;"></div>
                                    <p id="date_documentos" style="width: 73px;height: 21px;">30/04/21</p>
                                </div>
                                <img src="./img/svg/up_mostrar_doc_tareas.svg" id="arrows_doc" class='ocultar' alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--principal tareas-->
            <div id="column_izquierda_documentos">
                <div>
                    <p id="title_principal">TAREAS Y OTROS DOCS</p>
                    <div id="prueba_tareas">

                    </div>
                </div>
            </div>
        </div>


        <!--see doc o pdf o img-->
        <div id="see">

            <div>

                <div class="d-flex flex-row justify-content-center ">
                    <ul class="d-flex flex-row ">
                        <li class="me-4 ">
                            <a id="style_a_docs" href="">
                                <img src="./img/svg/descargar.svg" style="margin-right:5px;" alt="" /> Descargar
                            </a>
                        </li>

                        <li class="me-4">
                            <a id="style_a_docs" href="">
                                <img src="./img/svg/compartir.svg" style="margin-right:5px;" alt="" /> Compartir
                            </a>
                        </li>

                        <li class="me-2">
                            <a id="style_a_docs" href="">
                                <img src="./img/svg/ver 1.svg" style="margin-right:5px;" alt="" /> Ver completo
                            </a>
                        </li>

                        <li class="me-4 mx-2">
                            <a id="style_a_docs" href="">
                                <img src="./img/svg/impresora 1.svg" style="margin-right:5px;" alt="" /> Imprimir
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div id="verFiles">
            </div>
        </div>

    </div>
</div>